@import "../../global.scss";

.intro{
    background-color: #000;
    display: flex;
    flex-direction: column;

    @include mobile{
        flex-direction: column;
        align-items: center;
    }
    .top{
        overflow: hidden;
        position: relative;
    
        flex: 0.6;
        .wrapper{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobile{
                padding-left: 0;
                position: relative;
                text-align: center;
            }
            .putLeft{
                padding-left: 5em;
                @include mobile{
                    padding-left: 0;
                }
            }
            hr{
                background-color: $mainColor;;
                margin: 0.5em 0 0.5em 0;
                width: 30%;
                @include mobile{
                    margin-left: 40px;
                    width: 80%;
                }
            }
            h1{
                font-size: 40px;
                margin: 10px;
                padding-bottom: .5em;
                padding-top: .5em;
                color: $mainColor;

                @include mobile{
                    font-size: 40px;
                }
            }
            h2{
                font-size: 35px;
            }
            h3{
                font-size: 40px;
                display: flex;
                span{
                    font-size: inherit;
                    align-items: center;
                    justify-content: center;
                    color: $mainColor;
                    padding-left: 3px;
                }
                @include mobile{
                    font-size: 20px;
                }
            }
            
        }
        
}
    .bottom{
        flex: 0.4;
        position: relative;
        overflow: hidden;

        .wrapper{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @include mobile{
                padding-left: 0;
                align-items: center;
                position: relative;
            }
            h3{
                font-size: 40px;
                display: flex;
                span{
                    font-size: inherit;
                    align-items: center;
                    justify-content: center;
                    color: $mainColor;
                    padding-left: 3px;
                }
                @include mobile{
                    font-size: 20px;
                }
            }
            
        }
        a{
            .arrow{
                font-size: 80px;
                animation: arrowBlink 2s infinite;
                color: $mainColor;
            }
            @keyframes arrowBlink {
                100%{
                    opacity: 0;
                }
            }
        }
    }
}